.myslider {
  position: relative;
  width: 600px;
  overflow: hidden;
}

.myslides {
  display: flex;
  width: calc(300%);
  transition: transform 0.5s ease;
}

.myslides img {
  width: 100%;
  display: block;
}

.left-allign {
  text-align: left !important
}

.images_container_vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.images_container_horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
}